<div class="bg-primary text-white">
  <div class="container">
    <div class="row align-items-center zero-learn-more">
      <div class="col-12 col-md-10">
        <h4>{{ learnMore?.title }}</h4>
        <div>{{ learnMore?.content }}
        </div>
      </div>
      <div class="col-12 col-md-2 text-right" style="margin-top: 30px;">
        <a [attr.routerLink]="learnMore?.moreUrl">
          <button type="button" class="btn btn-light">了解更多</button>
        </a>
      </div>
    </div>
  </div>
</div>
