.zero-padd-57{
  padding: 57px 0;
}
.zero-contact-left h4{
  margin-bottom: 30px;
  letter-spacing: 8px;
}
.zero-contact-left p{
  margin-bottom: .3rem;
  font-size: 18px;
  letter-spacing: 1px;
}
.zero-contact-left .company-name{
  letter-spacing: 5px;
}
.zero-contact-left .company-address{
  color: #dfdfdf;
  margin-bottom: 23px;
  letter-spacing: 3px;
}
.zero-contact-right .contact-way{
  padding: 3px;
  border: 1px solid #f4f3f3;
  margin: 18px;
}
.zero-contact-right .contact-way img{
  height: 27px;
  width: inherit;
}
.bg-000{
  background-color: #000;
}
